/* The whole container... I picked this instead of the concord object because then there was extra white stuff around it */
.divOutlinerContainer{
	background-color: #002b36;
	}
/* Text color for the concord object */
.concord .concord-node .concord-wrapper .concord-text{
	color: #839496;
	}
/* Text color for the concord object when selected */
.concord .concord-node.selected > .concord-wrapper .concord-text{
	color: #839496;
	}
/* Selection Background Color */
.concord .concord-node.selected > .concord-wrapper{
	background-color: #073642;
	}
/* Wedge with children when not selected */
.concord .concord-node.collapsed > .concord-wrapper.type-icon .node-icon.icon-caret-right{
	color: #839496;
	}
/* Wedge with children when selected */
.concord .concord-node.selected.collapsed > .concord-wrapper.type-icon .node-icon.icon-caret-right{
	color: #839496;
	}
/* Wedge without children when selected */
.concord .concord-node.selected > .concord-wrapper.type-icon .node-icon.icon-caret-right{
	color: #586e75;
	}
/* Wedge without children when not selected */
.concord .concord-node > .concord-wrapper.type-icon .node-icon.icon-caret-right{
	color: #586e75;
	}
/* Bolt with children when not selected */
.concord .concord-node > .concord-wrapper.type-icon .node-icon{
	color: #839496;
	}
/* Bolt with children when selected */
.concord .concord-node.selected > .concord-wrapper.type-icon .node-icon{
	color: #839496;
	}

